.pollBody {
    width: 80%;
    margin-left: 10%;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: dodgerblue;
    color: white;
    padding: 0 50px;
    border-radius: 50px;
}
