.pollBody {
    margin: 100px 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: dodgerblue;
    color: white;
    padding: 0 10%;
    border-radius: 50px;
}
